<h1>Publications</h1>
<% @publications.each do |publication| %>
    <div class="publication">
      <%# <%= image_tag publication.img %>
      <h1><%= publication.title %></h1>
      <div class='shortPublication'><%= publication.content %></div>
      <br>
      <%= link_to 'Read More', "/publications/#{publication.id}" %>
    </div>
<% end %>
<% if @publications.size == 0 %>
  <div class='col-md-4'>
    No publications
  </div>
<% end %>